---
:enabled: true
:pulp_endpoint: 'https://your_pulp_3_server_here.com'
:pulp_client_ssl_cert: 'X509 certificate for authenticating with Pulp'
:pulp_client_ssl_key: 'RSA private key for the Pulp certificate'
:sqlite_db_path: '/var/lib/foreman-proxy/smart_proxy_container_gateway.db'
