---
:enabled: true

#:pulp_endpoint: 'https://pulp3.example.com'
#:pulp_client_ssl_ca: '/path/to/ca.pem'
#:pulp_client_ssl_cert: '/path/to/cert.pem'
#:pulp_client_ssl_key: '/path/to/key.pem'

#:katello_registry_path: '/v2/'

#:db_connection_string: postgresql:///container_gateway
#:db_max_connections: 30
#:db_pool_timeout: 30

# Legacy options
#:sqlite_db_path: '/var/lib/foreman-proxy/smart_proxy_container_gateway.db'
# Database busy timeout in milliseconds
#:sqlite_timeout: 30000
